.header {
	background: #ffffff; /* grayscale.100 - white */
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
	height: 5.625rem;
	position: relative;
}

.logo {
	position: absolute;
	top: 0.8rem;
	left: 1.75rem;
}

.logo img {
	height: 64px;
	width: auto;
}

